body {
    background-color: black;
}
h1 {
    position: relative;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 20px;
}
.centre {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    text-align: center;
}
input {
    width: 310px;
    height: 40px;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    border-width: 0px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.no {
    position: absolute;
    left: 50%;
    top: 170px;
    translate: -50%;
    color: red;
    opacity: 0;
}
.submit {
    margin-top: 5px;
    width: 180px;
    height: 30px;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}