body {
    background-color: black;
}

.maindiv {
    width: 90%;
    height: 80%;
    background-color: rgb(20, 20, 20);
    border-color: rgba(255, 255, 255, 0.1);
    border-width: 10px;
    border-radius: 20px;
    border-style: outset;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    box-shadow: 10px 10px 10px #0000;
}

.message {
    width: 95%;
    height: 50px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 98%;
    border-radius: 30px;
    transform: translate(-50%, -90%);
    background-color: rgba(80, 80, 80, 0.3);
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.messagescontain {
    width: 80%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 25px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    overflow-y: auto;
}

.ms1 {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ms2 {
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 15px;
}

.timestamp {
    position: relative;
    opacity: 0.50;
    font-size: 10px;
    bottom: 25px;
    left: 10px;
}

.align-start {
    margin-top: 30%;
}

.username {
    position: relative;
    background-color: rgb(20, 20, 20);
    border-width: 2px;
    height: 20px;
    width: 200px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.userselect {
    width: 500px;
    height: 140px;
    position: fixed;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -51%);
    background-color: rgb(10, 10, 10);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 23px 2px rgba(0,0,0,1);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.usercont {
    background-color: rgb(50, 50, 50);
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
    border-radius: 6px;
    color: white;
}

.messagething {
    background-color: rgb(8, 8, 8);
    width: fit-content;
    height: 45px;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}